// Responsive font sizing
html {
    font-size: 16px;
}

// Sets font size to 16px on form elements to prevent input zoom on mobile devices
@include media-breakpoint-down(sm) {
    .form-control {
        font-size: $font-size-base * 1.075;
    }
}

@include media-breakpoint-up(xxl) {
    html {
        font-size: 18px;
    }
}

// Global

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-family: $font-family-base;
    -webkit-overflow-scrolling: touch;
    line-height: 1.5;
}

.small, small {
    font-size: 80%;
}

.text-white {
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p {
        color: white;
    }
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: $spacer;
    font-weight: 500;
    font-style: normal;
}

h1, .h1 {
    font-size: 40px;
    text-decoration-line: underline;
    text-decoration-color: $pink;
    text-decoration-thickness: 18%;
    text-underline-offset: 10px;
    margin-bottom: $spacer*2;
    @include media-breakpoint-up(lg) {
        font-size: 60px;
    }
}
h2, .h2 {
    text-decoration-line: underline;
    text-decoration-color: $pink;
    text-decoration-thickness: 18%;
    text-underline-offset: 8px;
    font-size: 36px;
}

.text-decoration-none {
    h1, .h1, h2, .h2 {
        text-decoration: none !important;
    }
}

.spaced-list {
    padding: 0 0 0 22px;
}

.spaced-list li {
    margin-bottom: .5rem;
}

.lead {
    font-family: $headings-font-family;
}

.text-md {
    font-size: 90%;
}

.list-unstyled li {
    padding-bottom: .25rem;

    &:last-of-type {
        padding-bottom: 0;
    }
}

.list-unstyled {
    margin-bottom: 1rem;
}